<div class="container">
    <select class="select" name="" id="">
        <option class="option" value="Все">Все</option>
        <option class="option" value="Драма">Драма</option>
        <option class="option" value="Биография">Биография</option>
        <option class="option" value="История">История</option>
        <option class="option" value="Фэнтези">Фэнтези</option>
        <option class="option" value="Приключения">Приключения</option>
        <option class="option" value="Боевик">Боевик</option>
        <option class="option" value="Мультфильм">мультфильм</option>
        <option class="option" value="Комедия">Комедия</option>
        <option class="option" value="Триллер">Триллер</option>
        <option class="option" value="Детектив">Детектив</option>
        <option class="option" value="Фантастика">Фантастика</option>
    </select>

</div>
